services:
    laravel:
        build:
            context: .
        restart: always
        env_file:
            - .env
        volumes:
            - .:/app
            - vendor:/app/vendor
        labels:
          - "traefik.enable=true"
#          - "traefik.http.routers.laravel.rule=Host(`education.local`) && (PathPrefix(`/api`) || Path(`/sanctum/csrf-cookie`) || PathPrefix(`/admin`))"
          - "traefik.http.routers.laravel.rule=Host(`education.local`) && (PathPrefix(`/api`) || Path(`/sanctum/csrf-cookie`))"
#          - "traefik.http.routers.laravel.rule=Host(`education.local`)"
          - "traefik.http.routers.laravel.entrypoints=web"
          - "traefik.http.routers.laravel.priority=30"
          - "traefik.http.services.laravel.loadbalancer.server.port=8000"
#            - "traefik.enable=true"
#            - "traefik.http.routers.laravel.rule=Host(`education.local`)"
#            - "traefik.http.routers.laravel.rule=Host(`education.local`) && (PathPrefix(`/api`) || Path(`/sanctum/csrf-cookie`))"
#            - "traefik.http.routers.laravel.priority=20"
#            - "traefik.http.routers.laravel.entrypoints=web"
#            - "traefik.http.services.laravel.loadbalancer.server.port=8000"
        user: "${UID}:${GID}"
        networks:
            - app-network
        depends_on:
            db:
                condition: service_healthy
            redis:
                condition: service_started

    front:
      image: node:20
      working_dir: /app
      volumes:
        - ./frontend:/app
        - /app/node_modules
      command: sh -c "npm ci && npm run dev -- --host 0.0.0.0 --port 3000"
      ports:
        - "3000:3000" # optional
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.vite.rule=Host(`education.local`)"
        - "traefik.http.routers.vite.entrypoints=web"
        - "traefik.http.routers.vite.priority=10"
        - "traefik.http.services.vite.loadbalancer.server.port=3000"
      networks:
        - app-network
    traefik:
        image: traefik:v3.2
        command:
            - "--log.level=DEBUG"
            - "--api.insecure=true"
            - "--providers.docker=true"
            - "--providers.docker.exposedbydefault=false"
            - "--entryPoints.web.address=:80"
        ports:
            - "80:80"
            - "444:443"
            - ${TRAEFIC_PORT_HTTP:-8081}:8080
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        networks:
            - app-network
    db:
        image: postgres:17
        restart: always
        environment:
            POSTGRES_DB: ${DB_DATABASE}
            POSTGRES_USER: ${DB_USERNAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - dbdata:/var/lib/postgresql/data
        networks:
            - app-network
        ports:
            - "54322:5432"
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}" ]
            interval: 10s
            timeout: 5s
            retries: 3
    # soketi:
    #     image: quay.io/soketi/soketi:latest-16-alpine
    #     restart: unless-stopped
    #     env_file:
    #         - ./.env
    #     labels:
    #         - "traefik.enable=true"
    #         - "traefik.http.routers.soketi-http.rule=Host(`soketi.dev`)"
    #         - "traefik.http.routers.soketi-http.entrypoints=web"
    #         - "traefik.http.services.soketi-http.loadbalancer.server.port=6001"
    #     ports:
    #         - ${SOKETI_PORT:-6001}:6001
    #         - ${SOKETI_METRICS_SERVER_PORT:-9601}:9601
    #     environment:
    #         SOKETI_DEBUG: '${DEBUG:-1}'
    #         SOKETI_DEFAULT_APP_ID: '${PUSHER_APP_ID}'
    #         SOKETI_DEFAULT_APP_KEY: '${PUSHER_APP_KEY}'
    #         SOKETI_DEFAULT_APP_SECRET: '${PUSHER_APP_SECRET}'
    #         PUSHER_HOST: '${PUSHER_HOST:-127.0.0.1}'
    #         PUSHER_PORT: '${PUSHER_PORT:-6001}'
    #         PUSHER_SCHEME: '${PUSHER_SCHEME:-http}'
    #         METRICS_SERVER_PORT: '${SOKETI_METRICS_SERVER_PORT:-9601}'
    #         DEFAULT_APP_ENABLE_CLIENT_MESSAGES: '${DEFAULT_APP_ENABLE_CLIENT_MESSAGES:-false}'
    #     networks:
    #         - app-network
    redis:
        image: redis:alpine
        ports:
            - "63792:6379"
        networks:
            - app-network

networks:
    app-network:
        name: app-network
        driver: bridge

volumes:
    dbdata:
        driver: local
    vendor:
