services:
    laravel:
        build:
            context: .
        restart: always
        env_file:
            - .env
        volumes:
            - .:/app
            - vendor:/app/vendor
        user: "${UID}:${GID}"
        networks:
            - app-network
        ports:
          - "8010:8000"
        depends_on:
            db:
                condition: service_healthy
            redis:
                condition: service_started
    db:
        image: postgres:17
        restart: always
        environment:
            POSTGRES_DB: ${DB_DATABASE}
            POSTGRES_USER: ${DB_USERNAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - dbdata:/var/lib/postgresql/data
        networks:
            - app-network
        ports:
            - "54322:5432"
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}" ]
            interval: 10s
            timeout: 5s
            retries: 3
    soketi:
        image: quay.io/soketi/soketi:latest-16-alpine
        restart: unless-stopped
        env_file:
            - ./.env
        ports:
            - ${SOKETI_PORT:-6001}:6001
            - ${SOKETI_METRICS_SERVER_PORT:-9601}:9601
        environment:
            SOKETI_DEBUG: ${DEBUG:-1}
            SOKETI_DEFAULT_APP_ID: ${PUSHER_APP_ID}
            SOKETI_DEFAULT_APP_KEY: ${PUSHER_APP_KEY}
            SOKETI_DEFAULT_APP_SECRET: ${PUSHER_APP_SECRET}
            PUSHER_HOST: ${PUSHER_HOST:-127.0.0.1}
            PUSHER_PORT: ${PUSHER_PORT:-6001}
            PUSHER_SCHEME: ${PUSHER_SCHEME:-http}
            METRICS_SERVER_PORT: ${SOKETI_METRICS_SERVER_PORT:-9601}
            DEFAULT_APP_ENABLE_CLIENT_MESSAGES: ${DEFAULT_APP_ENABLE_CLIENT_MESSAGES:-false}
        networks:
            - app-network
    redis:
        image: redis:alpine
        ports:
            - "63792:6379"
        networks:
            - app-network

networks:
    app-network:
        name: app-network
        driver: bridge

volumes:
    dbdata:
        driver: local
    vendor:
